@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;

}

:root{
    --dark:#191919;
    --light:#fff;
    --mid:#888;
}

nav{
    height: 10vh;
    width: 100vw;

    display: flex;
    align-items: center;

    background-color: var(--dark);
    color: var(--light);
    
}
nav h1{
    padding-left: 30px;
    font-weight: 300;
}

#content{
    background-color: var(--dark);

    max-width: 310px;
    height: 50vh;

    border-radius: 5px;

    margin: 100px auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#resultado{
    display: flex;
    flex-direction: row;
}
#display{
    width: 200px;
    height: 50px;

    background-color: var(--light);

    border-radius: 5px 0 0 5px;

    line-height: 50px;

    padding-left: 10px;

    font-size: 20px;
}
#resultado button{
    width: 60px;

    font-size: 16pt;

    background-color: #01b4e4;
    color: #000;

    border: none;
    border-radius: 0 5px 5px 0;
}

#options{
    margin-top: 50px;

    background-color: var(--light);
    border-radius: 5px;

    width: 250px;
    height: 150px;

    padding: 20px;

    display: flex;
    justify-content: space-around;
    flex-direction: column;

    font-size: 24px;
}

#options div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;

    margin: 3px 0;
}


/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
   }
   
   /* Hide the browser's default checkbox */
   .container input {
     position: absolute;
     opacity: 0;
     cursor: pointer;
     height: 0;
     width: 0;
   }
   
   /* Create a custom checkbox */
   .checkmark {
     position: absolute;
     top: 0;
     left: 0;
     height: 25px;
     width: 25px;
     background-color: #ccc;
   }
   
   /* When the checkbox is checked, add a blue background */
   .container input:checked ~ .checkmark {
     background-color: #2196F3;
   }
   
   /* Create the checkmark/indicator (hidden when not checked) */
   .checkmark:after {
     content: "";
     position: absolute;
     display: none;
   }
   
   /* Show the checkmark when checked */
   .container input:checked ~ .checkmark:after {
     display: block;
   }
   
   /* Style the checkmark/indicator */
   .container .checkmark:after {
     left: 9px;
     top: 5px;
     width: 5px;
     height: 10px;
     border: solid white;
     border-width: 0 3px 3px 0;
     transform: rotate(45deg);
   }

   footer{
       height: 10vh;
       width: 100vw;

       line-height: 10vh;

       background-color: var(--dark);
   
        position: absolute;
        bottom: 0;
    }

    footer a{
        font-size: 30px;

        margin-left: 30px;

        color: var(--light);
    }
   @media (min-width:1024px){
       #content{
           min-width: 60vw;
           min-height: 60vh;

           margin: 50px auto;
       }

       #options{
           width: 40vw;
       }

       #resultado button:hover{
           cursor: pointer;
       }
   }